@import "@fontsource-variable/overpass/wght.css";
@import "@fontsource-variable/tektur/wght.css";
@import "@fontsource-variable/jetbrains-mono/wght.css";

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.font-heading {
		font-family: "Tektur Variable", sans-serif;
	}
}

